<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>lista de alumnos</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous">
</head>
<body>

	<nav class="navbar navbar-expand-lg bg-body-tertiary"
		data-bs-theme="dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="">Gestion Academica</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" href="/">INICIO</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<div class="container text-center">
	<div>
			<h1>lista de alumnos</h1>
		</div>
		<br>
	<a class="btn btn-primary float-start h5" th:href="@{/alumnos/nuevo}">Agregar Alumno</a>
	
	<div>
		<table class="table table-striped table-bordered text-start ms-0">
			<thead class="table-success">
				<tr>
					<th>Id</th>
					<th>nombres</th>
					<th>apellidos</th>
					<th>dni</th>
					<th>F.nacimiento</th>
					<th>distrito de Residencia</th>
					<th>telefono</th>
					<th>correo</th>
					<th>aula</th>
					<th>turno</th>
					<th>operaciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="alumno: ${listaAlumnos}">
					<td th:text="${alumno.id}"></td>
					<td th:text="${alumno.nombres}"></td>
					<td th:text="${alumno.apellidos}"></td>
					<td th:text="${alumno.dni}"></td>
					<td th:text="${alumno.fechaNacimiento}"></td>
					<td th:text="${alumno.direccion}"></td>
					<td th:text="${alumno.telefono}"></td>
					<td th:text="${alumno.correo}"></td>
					<td th:text="${alumno.aula.nombre}"></td>
					<td th:text="${alumno.aula.turno}"></td>
					<td><a th:href="@{'/alumnos/editar'+'/'+${alumno.id}}" class="btn btn-warning">editar</a>
						<a th:href="@{'/alumnos/eliminar'+'/'+${alumno.id}}" class="btn btn-danger"
                   onclick="return confirm('¿Estás seguro de eliminar esta alumno');">eliminar</a>
                   </td>
				</tr>
			</tbody>
		</table>
	</div>
	
	
	</div>
</body>
</html>